Day 3/jade/index.html
<!DOCTYPE html><html><head><title>"This is a Jade Template"</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></head><body><header class="container"><h1>My Site</h1></header><div id="myid" class="container"><div class="main-content"><li>One</li><li>Two</li><li>Three</li></div><a href="http://www.google.com"><Click>for Google</Click></a></div></body></html>

Day 3/jade/index.jade
- var arr = ["One", "Two", "Three"];
doctype html
html
	head
		title "This is a Jade Template"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
	body
		header.container
			h1 My Site
		.container#myid
			.main-content
				-for(var i = 0; i < 3; i++)
					li= arr[i]
			a(href="http://www.google.com")
				Click for Google
